In [1]:
import pandas as pd # imported numpy and pandas
import numpy as np

In [2]:
from pandas.io.html import read_html   # import library to read html pages
page="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
table= read_html(page, attrs={"class":"wikitable"})  # reading table from html page

In [4]:
print("extacted {num} table".format(num=len(table)))  # printing number of table got extracted

extacted 1 table

In [5]:
table[0].head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [16]:
df=pd.DataFrame(table[0]) # Assign table to dataframe df
df.rename(columns={'Postal code':'PostalCode'},inplace=True)
df.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned                         NaN
1        M2A      Not assigned                         NaN
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [17]:
df1=df[df.Borough !='Not assigned'] # deleted all not "assigned code" of borough column
df2=df1

In [18]:
df2['Neighborhood']=df1['Neighborhood'].str.split('/')  # split the column value by '/' and assingn to df2 dataframe

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df2.head()

,PostalCode,Borough,Neighborhood
2,M3A,North York,[Parkwoods]
3,M4A,North York,[Victoria Village]
4,M5A,Downtown Toronto,"[Regent Park , Harbourfront]"
5,M6A,North York,"[Lawrence Manor , Lawrence Heights]"
6,M7A,Downtown Toronto,"[Queen's Park , Ontario Provincial Government]"

In [20]:
df2.reset_index(drop=True, inplace=True)

In [21]:
df2

,PostalCode,Borough,Neighborhood
0,M3A,North York,[Parkwoods]
1,M4A,North York,[Victoria Village]
2,M5A,Downtown Toronto,"[Regent Park , Harbourfront]"
3,M6A,North York,"[Lawrence Manor , Lawrence Heights]"
4,M7A,Downtown Toronto,"[Queen's Park , Ontario Provincial Government]"
...,...,...,...
98,M8X,Etobicoke,"[The Kingsway , Montgomery Road , Old Mill N..."
99,M4Y,Downtown Toronto,[Church and Wellesley]
100,M7Y,East Toronto,[Business reply mail Processing CentrE]
101,M8Y,Etobicoke,"[Old Mill South , King's Mill Park , Sunnyle..."
102,M8Z,Etobicoke,"[Mimico NW , The Queensway West , South of B..."

# csv file that has the geographical coordinates of each postal code

In [22]:
file=pd.read_csv('Geospatial_Coordinates.csv')

In [23]:
file.rename(columns={'Postal Code':'PostalCode'},inplace=True)
file.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [24]:
result=pd.merge(df2,file,on='PostalCode')

In [25]:
result

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,[Parkwoods],43.753259,-79.329656
1,M4A,North York,[Victoria Village],43.725882,-79.315572
2,M5A,Downtown Toronto,"[Regent Park , Harbourfront]",43.654260,-79.360636
3,M6A,North York,"[Lawrence Manor , Lawrence Heights]",43.718518,-79.464763
4,M7A,Downtown Toronto,"[Queen's Park , Ontario Provincial Government]",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"[The Kingsway , Montgomery Road , Old Mill N...",43.653654,-79.506944
99,M4Y,Downtown Toronto,[Church and Wellesley],43.665860,-79.383160
100,M7Y,East Toronto,[Business reply mail Processing CentrE],43.662744,-79.321558
101,M8Y,Etobicoke,"[Old Mill South , King's Mill Park , Sunnyle...",43.636258,-79.498509
102,M8Z,Etobicoke,"[Mimico NW , The Queensway West , South of B...",43.628841,-79.520999